.pagi-contain{
    display: flex;
    justify-content: center;
    button{
        background-color: black;
        color: #fff;
        margin-left: 5px;
        border-radius: 5px;
        padding: auto;
        &:hover{
            transform: scale(1.1);
            transition: 0.5s;
        }
    }
}