.pagi-contain{
    display: flex;
    justify-content: center;
    button{
        background-color: black;
        color: #fff;
        margin-left: 5px;
        border-radius: 5px;
        padding: auto;
    }
}