.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    height: 110vh;
    width: 100px;

    a {
        button {
            color: #fff;
            background-color: black;
            height: 40px;
            margin-bottom: 2px;
            width: 100%;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 0.8s;
                background-color: rgba(0, 0, 0, 0.5);
                border: none;
            }
        }
    }
}